/*main css*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}


#scrollToTop {
    position: fixed;    
    bottom: 30px;   
    display:none;
}



/* label color */
.input-field label {
    /*color: #000;*/
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #DB3737;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2650C8;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #BA1919;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #4956BB;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #5BBD8B;
}
